<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/internet_store?serverTimezone=Europe/Moscow</property>
        <property name="hibernate.connection.username">admin</property>
        <property name="hibernate.connection.password">Vladik42851`</property>
        <property name="show_sql">true</property>
        <mapping resource="ua.com.alevel.model/Category.hbm.xml"/>
        <mapping resource="ua.com.alevel.model/Order.hbm.xml"/>
        <mapping resource="ua.com.alevel.model/Product.hbm.xml"/>
        <mapping resource="ua.com.alevel.model/User.hbm.xml"/>
    </session-factory>

</hibernate-configuration>